@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");

:root {
  --card-color-primary: #f7dd43;
  --card-border-color: #746615;
  --card-bg-color: #1d1c19;
  --bg: url(assets/bg-yellow.svg);
}

body.blue {
  --card-color-primary: #338af3;
  --card-border-color: #338af3;
  --card-bg-color: #202024;
  --bg: url(assets/bg-blue.svg);
}

body.green {
  --card-color-primary: #047c3f;
  --card-border-color: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url(assets/bg-green.svg);
}

/* ->No trecho de código a cima, por utilizar variaveis de cor, conseguimos alterar a cor das bordas dos cartões baseado na classe que queremos.
Para isso, no cartão ao inves de usarmos a HEX, usamos a variavel. Conforme trocamos a classe, a cor é alterada.<- */

* {
  margin: 0;
  padding: 0;
}
body * {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #121214;
  background-image: var(--bg);
  background-position-x: top=center;
  background-repeat: no-repeat;
  background-size: cover;
}
#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
  box-sizing: border-box;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}
.card h2 {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--card-border-color);
  border-radius: 6px;
  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}
#flag {
  width: 50px;
  height: 51px;
}
.card ul {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul {
  list-style: none;
}
.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}

.card ul li strong:hover,
.card ul li assets:hover {
  transform: scale(1.1);
}

.card ul li strong,
.card ul li assets {
  transition: transform 1s;
}

.card {
  opacity: 0;
  animation: appear 2s forwards;
}
@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 780px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
